.article {
    float: left;
    width: 33.33%;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.article-img {
    width: 100%;
}

.main {
    float: left;
    width: 70%;
}

.aside {
    padding: 50px;
    float: left;
    width: 30%;
    background: $mainColor;
    color: white;
    margin-top: 70px;
}

.aside-map {
    width: 100%;
    height: 300px;
}

.aside-text {
    margin-top: 30px;
    width: 80%;
    text-align: center;
    margin-left: 10%;
}

.article:hover {
    opacity: 0.6;
    cursor: pointer;
}
